# NPM dependencies
node_modules

# Bundled Web assets
/public/dist

# Cloudflare wrangler state & cache
.wrangler

# Composer dependencies
/vendor/

# Twig template cache
/templates/.cache

# development-only kv store
kv