{% macro articleCard(url, title, date) %}
<article class="article-card">
  <p>Article</p>

  <div class="title-and-date">
    <a href="{{ url }}">{{ title }}</a>

    <time datetime="{{ date.toISOString() }}">
      {{ date | formatDate }}
    </time>
  </div>
</article>
{% endmacro %}
