.article-card {
  padding: var(--space-md);
  background: var(--elevation-1-rgb);
  border-radius: var(--space-sm);

  & > p {
    margin-top: 0;
    margin-bottom: var(--space-md);

    font-size: var(--font-sm);
  }

  & > .title-and-date {
    display: flex;
    justify-content: space-between;
    align-items: end;

    & > a {
      font-family: var(--family-display);
      text-decoration: none;
      font-size: var(--font-xl);
      font-weight: 700;
    }

    & > p {
      margin: 0;
      font-size: var(--font-sm);
      font-weight: 300;
    }
  }
}
