a {
  text-decoration: underline;
  text-decoration-thickness: 1px;

  transition: text-decoration-thickness var(--transition-fast);

  &:hover {
    text-decoration-thickness: 3px;
  }
}

a:visited {
  color: var(--elevation-muted-rgb);
}
