a {
  text-decoration: underline;
  text-decoration-thickness: 1px;

  transition: text-decoration-thickness var(--transition-fast),
    color var(--transition-fast);

  &:hover {
    text-decoration-thickness: 3px;
  }
}
