#navbar {
  width: 100%;
  position: relative;

  padding: var(--size-sm);
  padding-bottom: calc(var(--size-sm) + var(--size-md));

  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-sm);
  flex-wrap: wrap;

  &:not(.glass) {
    background: var(--elevation-low-rgb);
  }
  &:not(.glass) > :is(.title, .links) {
    background: var(--elevation-none-rgb);
  }
  &:not(.glass) .current-page {
    background: var(--elevation-low-rgb);
  }

  & > .title,
  & > .links {
    display: flex;
    align-items: center;

    height: calc(var(--size-xl) * 2);
    border-radius: var(--size-xl);
  }

  & > .title {
    font-size: var(--font-lg);
    padding-left: var(--size-lg);
    padding-right: var(--size-lg);
  }

  & > .links {
    display: flex;
    padding-left: var(--size-sm);
    padding-right: var(--size-sm);
  }

  &:not(.glass)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: var(--size-md);
    background: var(--elevation-none-rgb);
    border-top-left-radius: var(--size-md);
    border-top-right-radius: var(--size-md);
  }

  & .current-page {
    border-radius: 9999px;
  }
}

#navbar.glass {
  & .current-page {
    --glass-box-shadow: none;
    --glass-opaque: 0.6;
  }
}

#navbar a {
  display: inline-block;
  padding: var(--size-sm) var(--size-md) var(--size-sm) var(--size-md);
  border-radius: var(--size-sm);
  text-decoration: none;
}

@media (width <= 768px) {
  #navbar {
    justify-content: start;
  }
}
