#navbar {
  padding: var(--size-lg);
  list-style: none;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--size-md);
  flex-wrap: wrap;
}

#navbar-website-title {
  font-size: var(--font-xl);
}

/* Vertical navbar layour for mobile screens */
@media (max-width: 480px) {
  #navbar {
    justify-content: left;
  }

  /* Make the title span the whole width */
  #navbar li:first-child {
    width: 100%;
  }
}

#navbar a {
  display: inline-block;
  padding: var(--size-sm) var(--size-md) var(--size-sm) var(--size-md);
  border-radius: var(--size-sm);
  text-decoration: none;
}

#navbar .current-page {
  background: var(--elevation-low-rgb);
}
