#navbar {
  width: 100%;
  background: var(--background-navbar-rgb);
  padding: var(--space-lg);

  & > ul {
    list-style: none;

    height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--space-md);
  }

  & h1 {
    font-size: var(--font-lg);
  }
}

@media (max-width: 480px) {
  #navbar > ul {
    flex-wrap: wrap;
  }
  #navbar > ul > li:first-child {
    width: 100%;
    font-size: var(--font-xl);
  }
  #navbar li:nth-child(2) {
  }
}

#navbar a {
  padding: var(--space-sm) var(--space-md) var(--space-sm) var(--space-md);
  border-radius: var(--space-sm);
  text-decoration: none;
}

#navbar .current-page {
  background: var(--elevation-2-rgb);
}
