.article-tag {
  border-radius: var(--size-sm);
  padding: var(--size-xs) var(--size-sm) var(--size-xs) var(--size-sm);
  background-color: var(--elevation-low-rgb);
  min-width: var(--size-xl);
  text-align: center;
}
