---
layout: base.njk
---

{% if (not page.url.endsWith(".css")) %}
<div id="article-content-wrapper">
  <main id="article">
    <section id="article-heading">
      <h2>{{ title }}</h2>
      <p class="article-written">
        Written on
        <date datetime="{{ page.date.toISOString() }}">
          {{ page.date | formatDate }}
        </date>
      </p>
      <p class="article-tags">
        {% for tag in tags %}
        <span class="article-tag">
          {{ tag }}
        </span>
        {% endfor %}
      </p>
    </section>
    {{ content | safe }}
  </main>
</div>
{% else %}
{{ content | safe }}
{% endif %}
