---
layout: base.njk
---

{% if (not page.url.endsWith(".css")) %}

{% block scripts %}
<script src="/scripts/article/read-button.js" async="true" defer></script>
{% endblock %}

<div id="article-content-wrapper">
  <main id="article">
    <section id="article-heading">
      <h2 class="article-title">{{ title }}</h2>
      <p class="article-sub">
        Written on
        <date datetime="{{ page.date.toISOString() }}">
          {{ page.date | formatDate }}
        </date>
      </p>
      <p class="article-tags">
        {% for tag in tags %}
        <span class="article-tag">
          {{ tag }}
        </span>
        {% endfor %}
      </p>
    </section>
    {{ content | safe}}
    <hr>
    <section id="article-views">
      <p id="article-views-paragraph">
        <strong class="count"></strong> people have read this article.
      </p>
      <button class="view-button" disabled aria-controls="article-views-paragraph">
        I've read this too!
      </button>
    </section>
  </main>
</div>
{% else %}
{ { content | safe } }
{% endif %}