---
title: petafloppa's blog
navbar: true
footer: true
---

{% if (not page.url.endsWith(".css")) %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <link rel="icon" href="/assets/favicon.png" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/fonts/subfont.css" />
  {% if links %}
  {% for link in links %}
  {{ link | safe }}
  {% endfor %}
  {% endif %}

  {% if eleventy.env.runMode == 'build' %}
  <script src="https://stat.petafloppa.cc/stat.js" async></script>
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content="{{ eleventy.generator }}" />
  <meta name="author" content="Zakhar Voloshchuk (petafloppa)" />
  <meta name="description" content="petafloppa's blog website" />

  <title>{{ title }}</title>

  {# Per-page CSS #}
  {% if css %}
  {% for stylesheet in css %}
  <link rel="stylesheet" href="{{ stylesheet.href }}" {% if stylesheet.media %} media="{{ stylesheet.media }}" {%
    endif%} />
  {% endfor %} {% endif %}
</head>

<body>
  {% if (navbar) %}
  {% include "navbar.njk" %}
  {% endif %}
  {{ content | safe }}
  {% if (footer) %}
  {% include "footer.njk" %}
  {% endif %}
</body>

</html>
{% else %}
{{ content | safe }}
{% endif %}