<style>
  :host,
  input {
    width: 100%;

    --padding: 6px;
    --thumb-width: 30px;
  }

  .container {
    position: relative;
    height: 40px;
  }

  .background-wrapper {
    height: 100%;
    padding-top: var(--padding);
    padding-bottom: var(--padding);

    & > .background {
      height: 100%;
      border-radius: 20px;
    }
  }

  .thumb-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(100% - var(--thumb-width));
  }
  #thumb {
    position: absolute;
    top: 0;
    left: var(--value);
    width: var(--thumb-width);
    height: 100%;
    border-radius: calc(var(--thumb-width) / 2);

    background: var(--elevation-low-rgb);
    opacity: 0.75;
    transition:
      opacity var(--transition-fast),
      transform var(--duration-medium) ease-in-out;
  }
  :is(:hover, :active, :focus-within) #thumb {
    opacity: 1;
    transform: scale(1.067);
  }

  #real {
    position: absolute;
    inset: 0;

    margin: 0;
    opacity: 0;
    z-index: 1;
  }
</style>

<div class="container">
  <div class="background-wrapper">
    <div class="background glass-surface no-blur"></div>
  </div>
  <div class="thumb-container">
    <div id="thumb" class="glass-surface no-blur"></div>
  </div>
  <input id="real" type="range" />
</div>
