.article-content-wrapper {
  width: 100%;

  /* Padding on the sides for small screens */
  padding-right: var(--space-lg);
  padding-left: var(--space-lg);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-title {
  margin-bottom: 2rem;

  & > h1 {
    font-size: var(--font-display);
    font-weight: 700;
  }
  & > .article-written {
    font-size: small;
    color: var(--body-foreground-subtext-rgb);
  }
}

.article-content {
  width: 100%;
  max-width: var(--article-max-width);

  /** Markdown styling */

  & > :is(h1, h2, h3, h4, h5, h6) {
    margin-top: var(--space-lg);
    margin-bottom: var(--space-lg);
  }

  & > :not(.article-title) {
    margin-top: var(--space-lg);
    margin-bottom: var(--space-lg);
  }
}
