/* Remove all default margins, and use box-sizing */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: inherit;
  fill: currentColor;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}
