:root {
  color-scheme: light dark;

  --tint-color: #ed872d;
  --tint-percentage: 15%;

  --elevation-none: 255, 255, 255;
  --elevation-low: 236, 236, 236;
  --elevation-medium: 216, 216, 216;
  --elevation-high: 196, 196, 196;
  /* muted text */
  --elevation-muted: 64, 64, 64;
  /* main text color */
  --elevation-max: 16, 16, 16;

  --elevation-none-rgb: color-mix(
    in oklab,
    rgb(var(--elevation-none)),
    var(--tint-color) var(--tint-percentage)
  );
  --elevation-low-rgb: color-mix(
    in oklab,
    rgb(var(--elevation-low)),
    var(--tint-color) var(--tint-percentage)
  );
  --elevation-medium-rgb: color-mix(
    in oklab,
    rgb(var(--elevation-medium)),
    var(--tint-color) var(--tint-percentage)
  );
  --elevation-high-rgb: color-mix(
    in oklab,
    rgb(var(--elevation-high)),
    var(--tint-color) var(--tint-percentage)
  );
  --elevation-muted-rgb: color-mix(
    in oklab,
    rgb(var(--elevation-muted)),
    var(--tint-color) var(--tint-percentage)
  );
  --elevation-max-rgb: color-mix(
    in oklab,
    rgb(var(--elevation-max)),
    var(--tint-color) var(--tint-percentage)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --elevation-none: 16, 16, 16;
    --elevation-low: 50, 50, 50;
    --elevation-medium: 100, 100, 100;
    --elevation-high: 150, 150, 150;
    --elevation-max: 255, 255, 255;
    --elevation-muted: 207, 207, 207;
  }
}
