@layer base, fonts, variables, components, page;

@import "./base.css" layer(base);
@import "./fonts.css" layer(fonts);
@import "./colors.css" layer(variables);
@import "./sizing.css" layer(variables);
@import "./transitions.css" layer(variables);
@import "./article.css" layer(base);
@import "./components/index.css" layer(components);
