:root {
  --size-xs: 6px;
  --size-sm: 12px;
  --size-md: 16px;
  --size-lg: 24px;
  --size-xl: 32px;
  --size-xxl: 48px;

  --article-max-width: 80ch;

  --font-xs: 75%;
  --font-sm: 85%;
  --font-md: 100%;
  --font-lg: 125%;
  --font-xl: 150%;
  --font-xxl: 200%;
  --font-display: 300%;
}
