:root {
  --transition-fast: 133ms ease-in-out;
  --transition-medium: 267ms ease-in-out;
  --transition-slow: 400ms ease-in-out;
}

@media (prefers-reduced-motion) {
  :root {
    --transition-fast: 0ms;
    --transition-medium: 0ms;
    --transition-slow: 0ms;
  }
}
